.asnotes/
.asnotesignore

.agentkanban/
AGENTS.md

.sops.yaml

# Notes publish built in CI/CD

notes-publish/
journals-publish/
blog-publish/

# VS Code settings / MCP

.vscode/settings.json
.vscode/mcp.json